# backups
*~
\#*#
# thumbnails
.DS_Store
# objects
*.o
# libraries
*.so
*.a
# dependency files
*.d
# root dictionary pcm files
*.pcm
# root dictionary sourcefiles
*Dict.cxx
*Dict.h
# python pre-compiled modules
*.pyc
# data files
*.root
# core dumps
core
# ToolFramework log files
log.e
log.o
# ToolFramework UUIDs
UUID

# the dependencies symlink
Dependencies
# executables
main
RemoteControl
NodeDaemon
# lib folder is just build products
lib/*
# the include folder is actually automatically populated
include/*

